html,
body {
  padding: 0;
  margin: 0;
}
html {
  background-color: #111;
  font-family: Cabin, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  --size: max(100vw, 100vh);
  --lyric-size: 16px;
  font-size: calc(var(--lyric-size) * 0.75);
}
@media screen and (max-width: 800px) {
  html {
    --lyric-size: 12px;
  }
}
#song {
  background: black;
  background: var(--colorA);
  padding-top: 144px;
  transition: all 200ms;
}
.content {
  margin: 0 auto;
  max-width: 800px;
  padding-inline: 16px;
}
#song-header {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(32px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100vw;
  z-index: 2;
}
#song-header-content {
  gap: 16px;
  padding-block: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#song-header-image {
  height: 96px;
  width: 96px;
  border-radius: 8px;
  flex: 0;
}
#song-header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#song-header-text h2 {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  padding: 0;
}
#song-header-text h3 {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
}
#lyrics {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-inline: calc(var(--lyric-size) * -1);
  position: relative;
  width: 75%;
}
.lyric {
  transition: all min(calc(var(--duration) * 0.5), 2s) ease;
  transform: scale(1);
  transform-origin: 0% 100%;
  position: relative;
  margin: 0px 0px;
  font-weight: 400;
}
.lyric.active {
  transform: scale(1.3);
  margin: calc(var(--lyric-size) * 3) 0px;
}

.lyric .background {
  opacity: 0.5;
  padding: var(--lyric-size);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

@property --wipe-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}
.lyric .highlight {
  --wipe-position: calc(-1 * var(--gradient-length));
  --gradient-length: 5%;
  mask-image: linear-gradient(
    to right,
    black var(--wipe-position),
    transparent calc(var(--wipe-position) + var(--gradient-length)),
    transparent
  );
  transition: --wipe-position var(--duration) linear 1s,
    opacity min(calc(var(--duration) * 0.5), 2s) linear;

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: var(--lyric-size);
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
  opacity: 0;
}

.lyric .line:first-child {
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0), ease-in;
}
.lyric .line:last-child {
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1), ease-out;
}
.lyric .line:first-child:last-child {
  transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1), ease;
}

.lyric.active .highlight {
  --wipe-position: calc(100% + var(--gradient-length));
  opacity: 1;
  -webkit-text-stroke: 1px white;
  transition-delay: var(--start-delay), var(--start-delay);
}

.lyric .line {
  position: relative;
  margin-top: calc(-2 * var(--lyric-size));
}

.lyric .line:first-child {
  margin-top: 0;
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(calc(var(--size) * 0.3))
      rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(calc(var(--size) * 0.3))
      rotate(-360deg);
  }
}

.circle {
  background: radial-gradient(
    circle at center,
    var(--color) 0,
    transparent 60%
  );
  height: calc(var(--size) * 1.5);
  width: calc(var(--size) * 1.5);
  position: fixed;
  animation: orbit 30s forwards infinite;
  animation-timing-function: linear;
  transition: all 4s;
  pointer-events: none;
}

#circleA {
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.8);
  animation-delay: 0s;
}

#circleB {
  top: calc(var(--size) * -0.1);
  left: calc(var(--size) * 0.5);
  animation-delay: -10s;
}

#circleC {
  top: calc(var(--size) * -0.8);
  left: calc(var(--size) * -0.4);
  animation-delay: -20s;
}
